{% spaceless %}
<!DOCTYPE HTML>
<html lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <title>Diário da Vida</title>
        <script type="text/javascript">
            function loading()
            {
                doTermo('');
            }
        </script>
    </head>
    <body onload="loading()">
        <div id="corpo">
            <link rel="stylesheet" type="text/css" href="{{base_url("media/css/site.css")}}"/>

            <link type="image/x-icon" rel="shortcut icon" href="{{base_url("media/imagens/icone.ico")}}" />

            <script type="text/javascript" src="{{base_url("media/lib/jqueryui/jquery-1.9.1.js")}}"></script>
            <script type="text/javascript" src="{{base_url("media/lib/jqueryui/jquery-ui-1.10.1.custom.min.js")}}"></script>
            <script type="text/javascript" src="{{base_url("media/lib/jqueryui/ui/jquery.ui.core.js")}}"></script>
            
{#            <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>#}
            <link rel="stylesheet" href="{{base_url("media/lib/jqueryui/css/jquery-ui.css")}}" />
            <link rel="stylesheet" href="{{base_url("media/lib/jqueryui/css/jquery.ui.datepicker.css")}}" />

            <!-- película para escurecer a tela --> 
            <div id="divPeliculas"></div>

            <!-- nunca mude o nome do divTopo -->
            <div id="divTopo">
                <header>
                    <div id="divPrimeiraLinha"></div>
                    <div id="divSegundaLinha">
                        <div id="divBoxInterno">
                            <div id="esquerda">
                                <div id="divLogo">
                                    <a href="{{base_url()}}">
                                        <img src="{{base_url("media/imagens/logoDV.png")}}" alt="" title="" />
                                    </a>
                                </div>
                            </div>
                            <div id="direita">
                                <div id="divIdentificacao">
                                    <div id="divImgUser">


                                        <img id="imgFotoUser"
                                             src="xxxxx?0.09392853227172493" 
                                             alt="" title="" />
                                    </div>
                                    <div id="divMenuNome">
                                        <span id="spnNome">Fernando Gurkievicz</span>
                                        <div id="divImgSeparadorSetaBaixo">
                                            <ul class="ulMenu">
                                                <li class="liItemMenu">
                                                    <img id="imgSeparadorSetaBaixo" 
                                                         src="{{base_url("media/imagens/separadorSetaBaixo.png")}}" 
                                                         alt="" title="" />
                                                    <ul class="ulSubMenu">
                                                        <li>
                                                            <a onclick="">Cadastros</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="x">
                                                                        Categorias
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="x">
                                                                        Eventos
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="x">
                                                                        Grupos
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="x">
                                                                        Instituições
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="x">
                                                                        Termos
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="x">
                                                                        Usuários
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a onclick="">Configurações</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="x">
                                                                        Permissionamento
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a onclick="addEvento()">Criar evento</a>
                                                        </li>
                                                        <li>
                                                            <a href="" target="_new">Guia de Orientações Didáticas</a>
                                                        </li>
                                                        <li>
                                                            <a onclick="doTermo('viewTermo')">Visualizar Termo de uso</a>
                                                        </li>
                                                        <li><a href="{{base_url("logoff")}}">Sair</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </div>
                </header>
            </div>
            <div class="limpar"></div>
            <div id="conteudo">
                <table id="tblConteudo" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td id="tdPerfil">
                            <script type="text/javascript">
                                function setView(opt)
                                {
                                    var imgIcoPerfil = document.getElementById("imgIcoPerfil");
                                    var imgIcoBuscaAv = document.getElementById("imgIcoBusca");
                                    var imgIcoConfig = document.getElementById("imgIcoConfig");

                                    var divPerfil = document.getElementById("divPerfil");
                                    var divBuscaAv = document.getElementById("divBuscaAv");
                                    var divLinks = document.getElementById("divLinks");

                                    imgIcoPerfil.src = imgIcoPerfil.src.replace('On', 'Off');
                                    imgIcoBusca.src = imgIcoBusca.src.replace('On', 'Off');
                                    imgIcoConfig.src = imgIcoConfig.src.replace('On', 'Off');

                                    divPerfil.style.display = 'none';
                                    divBuscaAv.style.display = 'none';
                                    divLinks.style.display = 'none';

                                    if (opt == 'perfil')
                                    {
                                        imgIcoPerfil.src = imgIcoPerfil.src.replace('Off', 'On');
                                        divPerfil.style.display = 'block';
                                    }
                                    else if (opt == 'busca')
                                    {
                                        imgIcoBusca.src = imgIcoBusca.src.replace('Off', 'On');
                                        divBuscaAv.style.display = 'block';
                                        doTutorial('busca');
                                    }
                                    else if (opt == 'config')
                                    {
                                        imgIcoConfig.src = imgIcoConfig.src.replace('Off', 'On');
                                        divLinks.style.display = 'block';
                                        doTutorial('configuracoes');
                                    }
                                }
                            </script>

                            <aside>
                                <div id="divMenuPerfil">
                                    <div class="divIcoPerfilLeft" onclick="setView('perfil')">
                                        <img id="imgIcoPerfil" src="{{base_url("media/imagens/icoPerfilOff.png")}}" />
                                    </div>

                                    <div class="divIcoPerfilLeft" onclick="setView('busca')">
                                        <img id="imgIcoBusca"  src="{{base_url("media/imagens/icoPerfilBuscaOff.png")}}"  />
                                    </div>

                                    <div class="divIcoPerfilRight" onclick="setView('config')">
                                        <img id="imgIcoConfig" src="{{base_url("media/imagens/icoPerfilConfigOff.png")}}"  />
                                    </div>
                                </div>

                                <!-- PERFIL -------------------------->
                                <div id="divPerfil">
                                    <div id="divMeusDados">
                                        <img id="imgMinhaFoto" 
                                             src="cccccccc"
                                             alt="" title="" />
                                        <div class="limpar"></div>
                                        <br/>
                                        <div id="divNome">
                                            Fernando
                                        </div>
                                        <div id="divIdadeSerie">
                                            122 anos - 
                                        </div>
                                        <div id="divInstituicao"></div>
                                        <div id="divEditar" onclick="doEditarPerfil()">
                                            <div id="divLabel">Editar</div>
                                            <div id="divImgagem">
                                                <img src="{{base_url("media/imagens/icoLapis.png")}}"
                                                     alt="Editar"
                                                     title="Editar"></div>
                                        </div>
                                    </div>
                                    <div id="divMinhasMedalhas">
                                        <div id="divMedalhas">
                                            <div id="divTituloMedalhas">
                                                Medalhas
                                            </div>
                                            <div id="divVerTodas">
                                                <div id="divLabel">Ver todas</div>

                                                <div id="divImgagem">
                                                    <img src="{{base_url("media/imagens/icoMedalha.png")}}"
                                                         alt="Ver todas"
                                                         title="Ver todas"></div>
                                            </div>
                                        </div>
                                        <div class="limpar"></div>
                                    </div>
                                </div>

                                <div id="divBuscaAv" style="display: none;">
                                    <form id="frmBuscaAv" name="frmBuscaAv" action="" method="POST">
                                        <input type="hidden" id="hdnGerarPDFAV" name="hdnGerarPDFAV" value="false"/>
                                        <input type="hidden" id="hdnNomeLivroAV" name="hdnNomeLivroAV" />

                                        <div id="divCategorias">
                                            <input type="hidden" name="hdnCategoriasBusca" id="hdnCategoriasBusca" value=",">
                                            <div id="divIcoCategoria">
                                                <img id="imgIcoCategoriaBusca" src="{{base_url("media/imagens/icoCategoriasOn.png")}}" />
                                                <div class="divTitulo">Categorias</div>
                                            </div>
                                            <div id="divIcosCategorias">

                                                <div id="divIcoCategoria_4"
                                                     class="divIcoCategoria divIcoCategoria_Azul_Off"
                                                     onclick="setCategoriaBusca(4)"></div>

                                                <div id="divIcoCategoria_1"
                                                     class="divIcoCategoria divIcoCategoria_Vermelho_Off"
                                                     onclick="setCategoriaBusca(1)"></div>

                                                <div id="divIcoCategoria_2"
                                                     class="divIcoCategoria divIcoCategoria_Roxo_Off"
                                                     onclick="setCategoriaBusca(2)"></div>

                                                <div id="divIcoCategoria_5"
                                                     class="divIcoCategoria divIcoCategoria_Amarelo_Off"
                                                     onclick="setCategoriaBusca(5)"></div>

                                                <div id="divIcoCategoria_3"
                                                     class="divIcoCategoria divIcoCategoria_Verde_Off"
                                                     onclick="setCategoriaBusca(3)"></div>

                                            </div>
                                        </div>

                                        <div id="divTags">
                                            <div id="divPalavraBusca">
                                                <div id="divCheckboxes">
                                                    <p>
                                                        <input type="checkbox" 
                                                               id="chkBooPalavrasChave" 
                                                               name="chkBooPalavrasChave"
                                                               checked='checked'
                                                               />&nbsp;<label for="chkBooPalavrasChave" class="checkbox">Palavras-chave</label>
                                                    </p>
                                                    <p>
                                                        <input type="checkbox" 
                                                               id="chkBooTitulo" 
                                                               name="chkBooTitulo"
                                                               checked='checked'
                                                               />&nbsp;<label for="chkBooTitulo" class="checkbox">Título</label>
                                                    </p>

                                                    <p>
                                                        <input type="checkbox" 
                                                               id="chkBooTexto" 
                                                               name="chkBooTexto"
                                                               checked='checked'
                                                               />&nbsp;<label for="chkBooTexto" class="checkbox">Texto</label>
                                                    </p>
                                                </div>
                                                <input type="text" id="txtPalavraBusca" name="txtPalavraBusca" 
                                                       placeholder="Digite a palavra"
                                                       value="" />
                                            </div>
                                        </div>


                                        <div id="divPeriodo">
                                            <div id="divIcoPeriodo">
                                                <img src="{{base_url("media/imagens/icoCalendario.png")}}" />
                                                <div class="divTitulo">Período</div>
                                            </div>
                                            <div id="divSelecioneMesBusca">

                                                <input type="text"
                                                       id="txtDataDe" name="txtDataDe"
                                                       placeholder="De"
                                                       maxlength="10"
                                                       value="" />

                                                <input type="text"
                                                       id="txtDataAte" name="txtDataAte"
                                                       placeholder="Até"
                                                       maxlength="10"
                                                       value="" />

                                            </div>
                                        </div>

                                        <div id="divPesquisar" onclick="executaBuscaAv()">
                                            <img src="{{base_url("media/imagens/icoPerfilBuscaOff.png")}}" />
                                            <div id="divCaption">
                                                Pesquisar
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            setDataPick("#txtDataDe");
                                            setDataPick("#txtDataAte");
                                        </script>
                                    </form>
                                </div>

                                <div id="divLinks" style="display: none;">

                                    <div class="divLink laranja" onclick="openBiblioteca()">
                                        <div class="divTitulo">Biblioteca</div>
                                        <div class="divIco">
                                            <img src="{{base_url("media/imagens/icoGerenciarLivros.png")}}" 
                                                 alt="Biblioteca"
                                                 title="Biblioteca"></div>
                                    </div>

                                    <div id="divAjuda" class="divLink azul" onclick="resetTutorial()">
                                        <div class="divTitulo">Ajuda</div>
                                        <div class="divIco">
                                            <img src="{{base_url("media/imagens/icoAjuda.png")}}"
                                                 alt="Ajuda"
                                                 title="Ajuda"></div>
                                    </div>

                                    <div class="divLink azul">
                                        <div class="divTitulo">Site</div>
                                        <div class="divIco">
                                            <img src="{{base_url("media/imagens/icoSites.png")}}"
                                                 alt="Site"
                                                 title="Site"></div>
                                    </div>

                                    <div class="divLink vermelho" onclick="window.location = '{{base_url("logoff")}}'">
                                        <div class="divTitulo">Sair</div>
                                        <div class="divIco">
                                            <img src="{{base_url("media/imagens/icoSair.png")}}"
                                                 alt="Sair"
                                                 title="Sair"></div>
                                    </div>

                                    <div class="limpar"></div>
                                </div>

                            </aside>
                            <div class="limpar"></div>

                        </td>
                        <td id="tdCentro">
                            <section id="content">

                                <form id="frmBusca" name="frmBusca" method="POST" action="itenstimeline">
                                    <div id="divTopo">
                                        <div id="divBusca">


                                            <input type="hidden" id="hdnGerarPDFBR"  name="hdnGerarPDFBR"  value="false" />
                                            <input type="hidden" id="hdnNomeLivroBR" name="hdnNomeLivroBR" />
                                            <input type="text" 
                                                   id="txtStrBusca" name="txtStrBusca" 
                                                   placeholder="busca rápida" 
                                                   value=""/>
                                            <input type="button"
                                                   id="txtBuscaOK" name="txtBuscaOK"
                                                   value="OK"
                                                   onclick="executaBuscaRapida()" />
                                        </div>

                                        <div id="divEstilosVisualizacoes">
                                            <div class="divIcoView" onclick="setEstilosVisualizacoes('mosaico')">
                                                <img id="icoViewMosaico" src="{{base_url("media/imagens/viewMosaicoOn.png")}}" />
                                            </div>

                                            <div class="divIcoView" onclick="setEstilosVisualizacoes('calendario')">
                                                <img id="icoViewCalendario" src="{{base_url("media/imagens/viewCalendarioOff.png")}}" />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="limpar"></div>

                                    <div id="divNotas">

                                        <div class="limpar"></div>
                                        <div id="divAddNota" class="divPost divAddNota" onclick="novaNota();">
                                            <div id="divTexto">
                                                Adicionar postagem
                                            </div>
                                            <div id="divImg">
                                                <img src="{{base_url("media/imagens/addNota.png")}}"
                                                     alt="Adicionar postagem"
                                                     title="Adicionar postagem" />
                                            </div>
                                        </div>

                                        <div id="divEvento_1"
                                             class="divPost divEvento Roxo" onclick="seeEvento('79')">
                                            <div class="divEventoTextoBox soTexto">

                                                <div class="divEventoTexto soTexto">
                                                    <div class="divTitulo soTexto">Meu Evento</div>
                                                    <div class="divTexto soTexto">teste</div>
                                                </div>

                                                <div class="divFaixa soTexto">
                                                    <img id="imgFaixaEvento"
                                                         class="imgFaixaEvento" 
                                                         src="{{base_url("media/imagens/faixa_evento.png")}}"
                                                         alt="" title="" />
                                                    <div class="divNumParticipantes">0</div>

                                                    <div class="divEditarEvento">
                                                        <img src="{{base_url("media/imagens/document_edit.png")}}" />
                                                    </div>

                                                </div>

                                                <div class="divReticencias soTexto">
                                                    <img id="imgReticencias"
                                                         class="imgReticencias" 
                                                         src="{{base_url("media/imagens/reticencias.png")}}" 
                                                         alt="" title="" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="divPost divLacuna">
                                            <img id="imgImagemPost"
                                                 class="imgImagemPost" 
                                                 src="{{base_url("media/imagens/logoLacuna.png")}}" 
                                                 alt="" title="" />
                                        </div>

                                        <div id="divEvento_2"
                                             class="divPost divEvento Vermelho" onclick="seeEvento('77')">

                                            <div class="divEventoTextoBox soTexto">

                                                <div class="divEventoTexto soTexto">
                                                    <div class="divTitulo soTexto">qwwww</div>
                                                    <div class="divTexto soTexto">21wd1wd12d124d</div>
                                                </div>

                                                <div class="divFaixa soTexto">
                                                    <img id="imgFaixaEvento"
                                                         class="imgFaixaEvento" 
                                                         src="{{base_url("media/imagens/faixa_evento.png")}}" 
                                                         alt="" title="" />
                                                    <div class="divNumParticipantes">1</div>

                                                </div>

                                                <div class="divReticencias soTexto">
                                                    <img id="imgReticencias"
                                                         class="imgReticencias" 
                                                         src="{{base_url("media/imagens/reticencias.png")}}" 
                                                         alt="" title="" />
                                                </div>
                                            </div>
                                        </div>

                                        <div id="divEvento_3"
                                             class="divPost divEvento Azul" onclick="seeEvento('78')">

                                            <div class="divEventoTextoBox soTexto">

                                                <div class="divEventoTexto soTexto">
                                                    <div class="divTitulo soTexto">Geração de livro</div>
                                                    <div class="divTexto soTexto">Teste de geração de livro de eventos<br></div>
                                                </div>

                                                <div class="divFaixa soTexto">
                                                    <img id="imgFaixaEvento"
                                                         class="imgFaixaEvento" 
                                                         src="{{base_url("media/imagens/faixa_evento.png")}}" 
                                                         alt="" title="" />
                                                    <div class="divNumParticipantes">2</div>

                                                </div>

                                                <div class="divReticencias soTexto">
                                                    <img id="imgReticencias"
                                                         class="imgReticencias" 
                                                         src="{{base_url("media/imagens/reticencias.png")}}" 
                                                         alt="" title="" />
                                                </div>
                                            </div>
                                        </div>

                                        <div id="divEvento_4"
                                             class="divPost divEvento Vermelho" onclick="seeEvento('76')">

                                            <div class="divEventoMidiaBox">

                                                <div class="divImagem">

                                                    <img id="imgImagemPost"
                                                         class="imgImagemPost" 
                                                         src="xcccccc" 
                                                         alt="" title="" />
                                                </div>
                                                <div class="divImagem divVideoImagem">
                                                    <img id="imgVideoPost" 
                                                         class="imgVideoPost" 
                                                         src="{{base_url("media/imagens/fundoVideo.png")}}"
                                                         title="" alt="" />
                                                </div>

                                            </div>

                                            <div class="divEventoTextoBox">

                                                <div class="divEventoTexto">
                                                    <div class="divTitulo">EVENTÃO 2</div>
                                                    <div class="divTexto">EVENTÃO 2</div>
                                                </div>

                                                <div class="divFaixa">
                                                    <img id="imgFaixaEvento"
                                                         class="imgFaixaEvento" 
                                                         src="{{base_url("media/imagens/faixa_evento.png")}}" 
                                                         alt="" title="" />
                                                    <div class="divNumParticipantes">0</div>

                                                </div>

                                                <div class="divReticencias">
                                                    <img id="imgReticencias"
                                                         class="imgReticencias" 
                                                         src="{{base_url("media/imagens/reticencias.png")}}" 
                                                         alt="" title="" />
                                                </div>
                                            </div>
                                        </div>

                                        <div id="divEvento_5"
                                             class="divPost divEvento Azul" onclick="seeEvento('42')">

                                            <div class="divEventoMidiaBox">

                                                <div class="divImagem">
                                                    <img id="imgImagemPost"
                                                         class="imgImagemPost" 
                                                         src="xxxxxxxxxxxx" 
                                                         alt="" title="" />
                                                </div>

                                            </div>

                                            <div class="divEventoTextoBox">

                                                <div class="divEventoTexto">
                                                    <div class="divTitulo">Comidas preferidas</div>
                                                    <div class="divTexto">
                                                        Faça uma lista dos 5 alimentos que você mais gosta. Se puder, coloque uma imagem.
                                                    </div>
                                                </div>

                                                <div class="divFaixa">
                                                    <img id="imgFaixaEvento"
                                                         class="imgFaixaEvento" 
                                                         src="{{base_url("media/imagens/faixa_evento.png")}}" 
                                                         alt="" title="" />
                                                    <div class="divNumParticipantes">22</div>
                                                </div>

                                                <div class="divReticencias">
                                                    <img id="imgReticencias"
                                                         class="imgReticencias" 
                                                         src="{{base_url("media/imagens/reticencias.png")}}" 
                                                         alt="" title="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="limpar"></div>
                                    </div>

                                    <div id="divCalendario">
                                        <div id="divCabecalho">

                                            <input type="hidden"
                                                   id="hdnMesAtual" name="hdnMesAtual"
                                                   value="10/2014" />
                                            <input type="hidden"
                                                   id="hdnDiaSelecionado" name="hdnDiaSelecionado"
                                                   value="" />

                                            <div class="divSetaEsquerda" onclick="setMes('anterior')">
                                                <img src="{{base_url("media/imagens/setaEsquerdaLaranja.png")}}" alt="" title="" />
                                            </div>
                                            <div id="divNomeMes" class="divNomeMes">
                                                Outubro de 2014
                                            </div>
                                            <div class="divSetaDireita" onclick="setMes('posterior')">
                                                <img src="{{base_url("media/imagens/setaDireitaLaranja.png")}}" alt="" title="" />
                                            </div>
                                        </div>
                                        <div id="divCalendarioDias"></div>
                                    </div>

                                    <div class="limpar"></div>
                                    <script type="text/javascript">
                                        var strMsg = "";
                                    </script>

                                </form>
                            </section>
                        </td>
                    </tr>
                </table>

                <div class="limpar"></div>
            </div>

            <footer>
                <div id="rodape">
                    <blockquote class="links">
                        <p class="links">
                            <a href="#">Sobre</a> -
                            <a href="#">Desenvolvedores</a> -
                            <a href="#">Privacidade</a> -
                            <a href="#">Termos</a> -
                            <a href="#">Ajuda</a>
                        </p>
                        <p class="txt_direita">
                            © Copyright 2001-2013 - Editora Positivo - Todos os direitos reservados
                        </p>
                    </blockquote>
                </div>
            </footer>
            
            <script>{% include "painel/index/index.js" %}</script>
        </div>

    </body>
</html>
{% endspaceless %}