<!DOCTYPE HTML>
<html lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <title>Login - Diário da Vida</title>
        <link rel="stylesheet" type="text/css" href="{{base_url("media/css/site.css")}}" />
        <link type="image/x-icon" rel="shortcut icon" href="{{base_url("media/imagens/icone.ico")}}" />

        <script type="text/javascript">
            function setBackground()
            {
                document.getElementById("conteudo").style.height = (window.innerHeight - 4) + "px";//667 - 663 = 4
            }
        </script>
    </head>
    <body onload="setBackground()" onresize="setBackground()">
        <div id="corpoLogin">
            <div id="divPrimeiraLinha"></div>
            <div id="conteudo" align="center" class="fundoPadrao">

                <form method="post" id="frmLogin" action="{{base_url("")}}">
                    <p id="pLogo">
                        <img id="imgLogo" src="media/imagens/logo.png" />
                    </p>
                    <div id="divFaixaBranca">
                        <div id="divLoginBox">
                            <div id="divLoginIco">
                                <img src="media/imagens/icoPerfilGray.png" />
                            </div>
                            <div id="divLogin">
                                <input type="text" 
                                       name="strLogin" id="strLogin" 
                                       value=""
                                       placeholder="Login"
                                       class="input campoMedio" />
                            </div>
                        </div>
                        <div id="divSenhaBox">
                            <div id="divSenhaIco">
                                <img src="media/imagens/icoChaveGray.png" />
                            </div>
                            <div id="divSenha">
                                <input type="password" 
                                       name="strSenha" id="strSenha"
                                       placeholder="Senha"
                                       class="input campoMedio" />
                            </div>
                        </div>
                        <div id="divBotao">
                            <button id="btnEntrarNoDiario" type="submit">
                                <img id="imgEntrarNoDiario" 
                                     src="media/imagens/icoOK.png" />
                            </button>
                        </div>
                        <div id="divPrimeiraLinha">
                            {% if erro %}
                                <div style="color: red;text-align:center;padding-top:10px;font-weight:bold;font-size:20px;">{{erro}}</div>
                            {% endif %}
                        </div>
                    </div>

                </form>

                <div id="rodape">
                    <div id="links">
                        <div id="divCadastreSe">
                            <a href="cadastrese.jsp">
                                <div id="divCadastreSeIco">
                                    <img src="media/imagens/icoCadastro.png" />
                                </div>
                                <div id="divCadastreSeText">
                                    Cadastre-se
                                </div>                 
                            </a>
                        </div>
                        <div id="divEsqueciSenha">
                            <a href="esqueciMinhaSenha.jsp">
                                <div id="divEsqueciSenhaIco">
                                    <img src="media/imagens/icoEsqueciSenha.png" />                 
                                </div>
                                <div id="divEsqueciSenhaText">
                                    Esqueci a minha senha
                                </div>
                            </a>
                        </div>
                        <div id="divCreditos">
                            <a href="creditos.jsp">
                                <div id="divCreditosIco">
                                    <img src="media/imagens/icoCreditos.png" />
                                </div>
                                <div id="divCreditosText">Créditos</div>
                            </a>
                        </div>
                    </div>
                    <div id="divPrimeiraLinha"></div>
                </div>
            </div>
        </div>
    </body>
</html>